$primary: #59a211;
$secondary: #037fb0;
$success: #59a211;

$btn-color: #FFF;

$spinner-width: 4rem;

$table-bg: #FFF;
$table-striped-bg: #FFF;
$table-color: #667788;

$font-size-root: 16px;
$font-size-base: .9rem;

$badge-font-size: .675rem;

$form-check-input-width: 1.25em;

$nav-pills-link-active-bg: rgba(225, 240, 255, .25);

$link-color: #8cc9e3;
// $link-color: rgba(160, 230, 255, .85);
$link-color-rgb: rgba(160, 230, 255, .85);

$nav-link-color: $link-color;
$nav-link-hover-color: #FFF;

// $nav-link-padding-x: 1rem;
// $navbar-padding-x: 1rem;
// $navbar-nav-link-padding-x: 1rem;
// $list-group-item-padding-x: 1rem;

$offcanvas-color: $link-color;
$offcanvas-horizontal-width: 300px;
$offcanvas-bg-color: rgba(20, 35, 70, 1);

$nav-pills-link-active-color: $link-color;

$btn-close-color: $link-color;