$primary: #59a211;
$secondary: #037fb0;
$success: #59a211;

$btn-color: #FFF;

$spinner-width: 4rem;

$table-bg: #FFF;
$table-striped-bg: #FFF;
$table-color: #667788;

$font-size-root: 16px;
$font-size-base: .9rem;

$badge-font-size: .675rem;

$form-check-input-width: 1.25em;

$nav-pills-link-active-bg: rgba(225, 240, 255, .25);

$nav-link-color: rgba(160, 230, 255, .85);
$nav-link-hover-color: #FFF;