@import 'styles/table';
@import 'styles/headings';
@import 'styles/navbar';
@import 'styles/sidebar';
@import 'styles/ponude';

.btn-primary {
  color: $gray-200;
  
  &:visited {
    color: $gray-200;
  }

  &:hover {
    color: $white;
  }
}